body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.menu{
    width:100%;
    height:100px;
    text-align: center;
}

.main{
    width:100%;
    height:600px;
    position: relative;
}

#calculator{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: #FFFFFF;
    margin: 50px auto;
    border-radius: 5%;
    overflow: hidden;
    transition: height 2s;
}

#displayHistory{
    text-align: right;
    height: 47px;
    font-size: 30px;
    display: block;
    padding: 20px 10px 0 0;
}

#displayCurrent{
    text-align: right;
    height: 63px;
    font-size: 50px;
    display: block;
    padding: 20px 10px 0 0;
}

#display{
    width:100%;
    height:150px;
    border-bottom:2px solid black;
}

#calculatorButtons{
    width:100%;
    height: 350px;
}

.btnHolder{
    float: left;
    width:25%;
    height:20%;
}

.calcBtn{
    width:100%;
    height: 97%;
    background-color: #FFFFFF;
    border:none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
}

.calcBtn:active{
    background-color: #000;
    color: #FFF;
}

.endBtn{
    background-color: #f49242;
}


#toggleCalc {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    margin: 30px;
    color: #FFFFFF;
    background: #f49242;
    border: none;
    height: 40px;
}

#toggleCalc:active{
    background-color: #000;
    color: #FFF;
}

.toggle{
    display: none;
}

button:focus{
    outline: none;
}
